.header-container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  min-width: 1200px;
  .header-content {
    position: relative;
    height: 78px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav {
    overflow: hidden;
    display: flex;
  }
  .nav-list {
    width: 100px;
    height: 100%;
    height: 78px;
    font-size: 24px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 2px;
    text-align: center;
    cursor: pointer;
    color: #003366;
  }
  .nav-bar {
    width: 100px;
    position: absolute;
    top: 78px;
    left: 20;
    height: 6px;
    background: #ff6600;
    transition: left 0.3s;
  }
}
